    {% for idea in ideias %}
        <div class="idea">
            <img 
            src="{{idea.image}}" alt="Imagem de Curso de Programação ">

            <div class="content">
                <h3>{{idea.title}}</h3>
                <p>{{idea.category}}</p>
                <div class="description">
                    {{idea.description}}
                </div> 
                <a href="{{idea.link}}" target="_blank"><button class="link-button">Ir para a Ideia</button></a>
            </div>
        </div>
    {% endfor %}